:root{
    --nav-width: 310px;
}
body header #navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--nav-width);
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
*{
    color: #5b5959;
}
body header #navbar #header-4 {
    font-size: 1.5em;
    font-weight: 500;
    color: black;
}
body header #navbar #nav-elements {
    display: flex;
    flex-basis: 100%;
    border-top: 2px solid #ccc;
    align-items: center;
    align-content: center;
    height: fit-content;
    text-decoration: none;
    padding: 0px 16px;
    font-size: 16px;
}
body #main-doc {
    position: relative;
    margin-left: var(--nav-width);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: -webkit-pictograph;
}
code {
    background: #f9f9f9;
    padding: 24px;
    display: block;
    border-radius: 6px;
}
body main section h2 {
    color: rgb(49, 46, 46);
    font-weight: 700;
}
body main section p {
    margin-left: 15px;
}