body header #navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 310px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
body header #navbar #header-4 {
    font-size: 1.5em;
    font-weight: 600;
}
body header #navbar #nav-elements {
    display: flex;
    flex-basis: 100%;
    border-top: 2px solid #ccc;
    align-items: center;
    align-content: center;
    height: fit-content;
    text-decoration: none;
    padding: 0px 16px;
    color: #5b5959;
    font-size: 16px;
}
body #main-doc {
    position: relative;
    left: 310px;
}